---
import "../global/styles.css";
import StickyHead from "../layouts/StickyHead.astro";
import Hero from "../layouts/Hero.astro";
import About from "../layouts/About.astro";
import Skills from "../layouts/Skills.astro";
import Projects from "../layouts/Projects.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio de Juan Villegas | Numonu</title>
	</head>
	<body class="bg-noche text-neutral-50">
		<div class="overflow-hidden">
			<div class="max-w-[1200px] mx-auto px-4">
				<StickyHead/>
				<Hero/>
				<About/>
				<Skills/>
				<Projects/>
			</div>
		</div>
	</body>
	<script src="https://kit.fontawesome.com/65a19dc040.js" crossorigin="anonymous"></script>
</html>
