---
import "../global/styles.css";
import StickyHead from "../layouts/StickyHead.astro";
import Hero from "../layouts/Hero.astro";
import About from "../layouts/About.astro";
import Skills from "../layouts/Skills.astro";
import Projects from "../layouts/Projects.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../layouts/Footer.astro";
import Screamer from "../components/Screamer.astro";
import Education from "../layouts/Education.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://www.svgrepo.com/show/512907/star-1260.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio de Juan Villegas | Numonu</title>
		<meta name="description" content="¡Hola! Me llamo Juan David villegas , soy desarrollador web front end">
  		<meta name="keywords" content="desarrollador web front-end, HTML, CSS, JavaScript, portafolio, habilidades , web , programacion , peru">
	</head>
	<body class="bg-noche text-neutral-50">
		<div class="overflow-hidden">
			<div class="max-w-[1200px] mx-auto px-4">
				<StickyHead/>
				<Hero/>
				<About/>
				<Education/>
				<Skills/>
				<Projects/>
				<Contact/>
				<Footer/>
			</div>
		</div>
		<Screamer/>
	</body>
	<script src="https://kit.fontawesome.com/65a19dc040.js" crossorigin="anonymous"></script>
</html>
