---
interface Props{
    href? : string
}
const {href = "#"} = Astro.props;
---
<a class="border-neutral-50 relative [&>div]:hover:scale-100 [&>span]:hover:hover:text-neutral-900  isolate border-2 w-11 aspect-square grid place-items-center rounded-full"  href={href}>
    <div class="bg-neutral-50 absolute inset-0 rounded-full -z-10 scale-0 transition-transform"></div>
    <span class="transition-colors text-lg"><slot/></span>
</a>