<div class="w-6 inline-block">
    <div class="bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 h-1 mb-2 rounded-full"></div>
    <div class="bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 w-2/3 h-1 rounded-full"></div>
    <div></div>
</div>