<script>
    const personaje = document.getElementById("personaje");
    if (personaje) {
        setTimeout(() => {
            personaje.style.transform = "translateX(50%) rotateZ(45deg)";
            setTimeout(() => { personaje.style.transform = ""; }, 5000);
        }, 15000);
    }
</script>
<div
    class="w-[25rem] aspect-square fixed left-0 top-1/2 -translate-x-full -translate-y-1/2 pointer-events-none"
>
    <img
        id="personaje"
        class="transition-transform duration-[2000ms]"
        src="images/interface/me.webp"
        alt="me"
    />
</div>
