<footer class="pb-6">
    <hr class="mb-12" />
    <div class="flex flex-wrap gap-8 items-center justify-between">
        <h3 class="text-2xl font-semibold">
            Numonu
            <span class="bg-indigo-500 inline-block w-2 aspect-square rounded-full"
            ></span>
        </h3>
        <h2 class="font-light">
            Hecho con <i class="fa-solid fa-heart"></i> por <a
                title="go to instagram"
                class="text-indigo-500 hover:underline"
                href="https://www.instagram.com/villegas.arts/"
            >
                Numonu</a
            >
        </h2>
    </div>
</footer>
