---
import Logo from "../components/Logo.astro";

---

<footer class="pb-6">
    <hr class="mb-12" />
    <div class="flex flex-wrap gap-8 items-center justify-between">
        <Logo/>
        <span class="font-light">
            Hecho con <i class="fa-solid fa-heart"></i> por <a
                title="go to twitter"
                class="text-indigo-500 hover:underline"
                href="https://www.twitter.com/numonudev"
            >
                Numonu</a
            >
        </span>
    </div>
</footer>
