<section class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-0">
    <div class="text-center">
        <div class="mb-12">
            <h1 class="pt-12 text-3xl font-medium mb-4">
                Juan Villegas 👋 <br />
                <span
                    class="bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 text-transparent bg-clip-text"
                    >FronEnd Developer</span
                >
            </h1>
            <h2>
                Artista 3D y Desarrollador web preparado para el lanzamiento 🚀
            </h2>
        </div>
        <div class="flex flex-wrap justify-center gap-4">
            <button class="bg-indigo-500 px-6 py-2 rounded-full"
                >Sobre mi</button
            >
            <button
                class="border-indigo-500 text-indigo-500 border-2 px-6 py-2 rounded-full"
                >Ver CV</button
            >
        </div>
    </div>
    <div>
        <style>
            .buttons-spining{
                /* animation : spining linear 10s infinite; */
            }
            @keyframes spining{
                to{rotate : 360deg}
            }
        </style>
        <div class="relative isolate max-w-[450px] mx-auto">
            <div class="absolute bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 -z-10 w-[60%] aspect-square rounded-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"></div>
            <div class="border-white buttons-spining bg-opacity-70 absolute border-2 -z-10 w-full aspect-square rounded-full">
                <img class="abolsute w-16 left-0 top-0 translate-x-1/2 translate-y-1/2" src="images/typescript_button.png" alt="typescript button 3D">
                <img class="absolute w-16 right-0 top-0 -translate-x-1/2 translate-y-1/2" src="images/firebase_button.png" alt="firebase button 3D">
                <img class="absolute w-16 bottom-0 left-1/2 translate-y-1/2 -translate-x-1/2" src="images/react_button.png" alt="react button 3D">
            </div>
            <img src="images/me.png" alt="Juan Villegas en 3D">
        </div>
    </div>
</section>
