---
import ArrowButton from "../components/ArrowButton.astro";
import HandShake from "../components/HandShake.astro";

---

<style>
    .animate-spining{
        animation : spin linear 30s infinite;
    }
    @keyframes spin{
        to{rotate : 360deg}
    }
    .button-fire:hover{
        --color : rgb(91 , 101 , 241);
        box-shadow: 0 0 10px var(--color) , 0 0 20px var(--color),
        inset 0 0 10px var(--color) , inset 0 0 15px var(--color);
    }
</style>
<section class="relative grid grid-cols-1 gap-12 mb-16 lg:mb-32 lg:grid-cols-2 lg:gap-0 lg:py-20">
    <!--Blobs-->
	<div class="bg-indigo-300 absolute left-0 top-0 w-[20rem] -translate-x-1/2 -translate-y-1/2 aspect-square rounded-full blur-[150px]"></div>
	<div class="bg-indigo-300 absolute bottom-0 right-0 w-[20rem] translate-x-1/2 translate-y-1/2 aspect-square rounded-full blur-[150px]"></div>
    <!---->
    <div class="flex flex-col text-center lg:text-start lg:justify-center">
        <div class="mb-12">
            <h1 class="pt-12 text-3xl font-medium mb-4 md:text-4xl lg:text-5xl">
                Juan Villegas <HandShake/> <br />
                <span
                    class="bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 font-semibold text-transparent bg-clip-text"
                    >FrontEnd Developer</span
                >
            </h1>
            <h2 class="lg:max-w-[80%] md:text-lg lg:text-xl">
                Desarrollador web y Artista 3D preparado para el lanzamiento 🚀
            </h2>
        </div>
        <div class="flex flex-wrap justify-center gap-4 lg:justify-start">
            <ArrowButton href="#about">Sobre mi</ArrowButton>
            <a class="opacity" href="documents/juanvillegas.pdf" target="_blank">
                <button
                class="border-indigo-500 text-indigo-500 relative group border-2 px-6 py-2 rounded-full hover:pr-10 transition-[padding] overflow-hidden"
                >
                Ver CV
                <i class="fa-regular fa-file-lines absolute right-0 translate-x-full text-2xl group-hover:-translate-x-[80%] transition-transform"></i>
                </button
                >
            </a>
        </div>
    </div>
    <div>
        <div class="relative isolate max-w-[450px] mx-auto lg:max-w-[500px]">
            <div class="absolute bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 -z-10 w-[60%] aspect-square rounded-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"></div>
            <div class="border-white animate-spining absolute border-2 -z-10 w-full aspect-square rounded-full">
                <img class="absolute w-20 right-0 top-1/2 translate-x-1/2 -translate-y-1/2" src="images/interface/typescript_button.webp" alt="typescript button 3D">
                <img class="absolute w-20 left-0 top-1/2 -translate-x-1/2 -translate-y-1/2" src="images/interface/firebase_button.webp" alt="firebase button 3D">
                <img class="absolute w-20 bottom-0 left-1/2 translate-y-1/2 -translate-x-1/2" src="images/interface/react_button.webp" alt="react button 3D">
                <img class="absolute w-20 top-0 left-1/2 -translate-y-1/2 -translate-x-1/2" src="images/interface/astro_button.webp" alt="astro button 3D">
            </div>
            <div class="w-full aspect-square">
                <img class="w-full h-full object-cover" src="images/interface/me.webp" alt="Juan Villegas en 3D">
            </div>
        </div>
    </div>
</section>
