<section>
    <div class="text-center">
        <div class="mb-12">
            <h1 class="pt-12 text-3xl font-medium mb-4">
                Juan Villegas 👋 <br />
                <span
                    class="bg-gradient-to-r from-yellow-200 via-red-400 to-indigo-400 text-transparent bg-clip-text"
                    >FronEnd Developer</span
                >
            </h1>
            <h2>
                Artista 3D y Desarrollador web preparado para el lanzamiento 🚀
            </h2>
        </div>
        <div class="flex flex-wrap justify-center gap-4">
            <button class="bg-indigo-500 px-6 py-2 rounded-full"
                >Sobre mi</button
            >
            <button
                class="border-indigo-500 text-indigo-500 border-2 px-6 py-2 rounded-full"
                >Ver CV</button
            >
        </div>
    </div>
    <div></div>
</section>
