---
import Linner from "../components/Linner.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<section>
    <h2 class="text-3xl mb-12">
        <Linner />
        Mis ultimos proyectos
    </h2>
    <div class="grid grid-cols-1">
        <ProjectCard
            title="Mi Proyecto Super Epico"
            description="Ese es mi proyecto super epico y super GODines"
            webLink="#"
            githubLink="#"
        />
    </div>
</section>
