---
import Linner from "../components/Linner.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../database/projects.json";
---

<section>
    <h2 class="text-3xl mb-12">
        <Linner />
        Mis ultimos proyectos
    </h2>
    <div class="max-w-[900px] mx-auto grid grid-cols-1 gap-6 md:grid-cols-2 lg:gap-12">
        {
            projects.map(e => {
                return <ProjectCard data={e}/>
            })
        }
    </div>
</section>
