---
import SkillBadge from "../components/SkillBadge.astro";
import skills from "../database/skills.json";
---

<section>
    <div class=" mb-24">
        <h2 class="text-3xl mb-16">Habilidades</h2>
        <div class="flex justify-center flex-wrap flex-row gap-16 max-w-[75%] mx-auto">
            {skills.map((e) => <SkillBadge src={e.src} alt={e.alt} />)}
        </div>
    </div>
    <div>
        <h2 class="text-3xl mb-12">Habilidades Blandas</h2>

    </div>
</section>
