---
import ArrowLink from "../components/ArrowLink.astro";
import BubbleLink from "../components/BubbleLink.astro";
---

<header
    class="py-4 max-w-[1200px] mx-auto flex flex-col gap-4 items-center md:flex-row md:justify-between"
>
    <h2 class="text-2xl">
        Numonu
        <span class="bg-indigo-500 inline-block w-2 aspect-square rounded-full"
        ></span>
    </h2>
    <nav>
        <ul class="flex gap-4 lg:hidden">
            <li>
                <BubbleLink><i class="fa-brands fa-instagram"></i></BubbleLink>
            </li>
            <li>
                <BubbleLink>
                    <i class="fa-brands fa-linkedin-in"></i>
                </BubbleLink>
            </li>
            <li>
                <BubbleLink><i class="fa-brands fa-github-alt"></i></BubbleLink>
            </li>
        </ul>
        <ul class="hidden gap-4 text-2xl lg:flex">
            <li><ArrowLink>Inicio</ArrowLink></li>
            <li><ArrowLink>Sobre mi</ArrowLink></li>
            <li><ArrowLink>Experiencia</ArrowLink></li>
            <li><ArrowLink>Proyectos</ArrowLink></li>
            <li><ArrowLink>Contacto</ArrowLink></li>
        </ul>
    </nav>
</header>
